body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.carousel {
  margin-bottom: 4rem; }

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  color: black; }

.carousel-item {
  height: 40rem;
  object-position: center; }

.carousel-item {
  text-align: center; }

.carousel-item img {
  display: block;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
  object-fit: cover; }

.marketing .col-lg-3 {
  margin-bottom: 2rem;
  text-align: center; }

.marketing h2 {
  font-weight: 600; }

.marketing .col-lg-3 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem; }

.bd-placeholder-img {
  margin-bottom: 1.5rem; }

.featurette-divider {
  margin: 5rem 0; }

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem; }

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4; }
  .featurette-heading {
    font-size: 50px; } }

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem; } }

.featurette-heading {
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -.05rem; }

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 1.4; }
  .featurette-heading {
    font-size: 50px; } }

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem; } }

    .btn-primary {
        color: #fff;
        background-color: #e7717D;
        border-color: #e7717D;
    }

    .h1, h1 {
    font-size: 5rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
    color: white;
}

.btn-secondary {
    color: #fff;
    background-color: #c2cad0;
    border-color: #6c757d;
}

body {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

element.style {
}
.marketing h2 {
    font-weight: 200;
}

.btn-outline-success {
    color: #e7717d;
    border-color: #e7717d;
}
